<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787614864142-lirfosks5hsjle7ivmh362f5dtgsl32m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787614864142-lirfosks5hsjle7ivmh362f5dtgsl32m</string>
	<key>API_KEY</key>
	<string>AIzaSyBJLZZ50-5I5lIsTuuwv8m4GV6k4hxcjaM</string>
	<key>GCM_SENDER_ID</key>
	<string>787614864142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.com.forte-life</string>
	<key>PROJECT_ID</key>
	<string>forte-mobile-c7997</string>
	<key>STORAGE_BUCKET</key>
	<string>forte-mobile-c7997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787614864142:ios:6bf8cf1bdd36ed76367d5f</string>
</dict>
</plist>